body {
  background-image: url('../kenrick-mills-1h2Pg97SXfA-unsplash-min.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

nav {
  box-shadow: 0px 0px 30px 5px white;
}

#search {
  padding: 6px;
}

#todaysForecast {
  height: auto;
  min-height: 475px;
  background-color: lightgray;
  box-shadow: 0px 0px 20px 0px white;
}

.card {
  border-radius: 15px;
}

.forecastCard {
  height: 100% !important;
  min-height: 395px;
  display: flex;
  flex-direction: column;
  background-color: lightblue;
  color: darkblue;
  box-shadow: 0px 0px 10px 0px white;
  border-radius: 15px;
}

@media only screen and (max-width: 576px) {
  .extendedCol {
    padding: 0 25% !important;
  }
  .extendedTitle {
    top: 0 !important;
  }
}
